@using Microsoft.AspNet.Identity
@using FinalProject.Models
@{AspNetUser user;}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    @using (franchiseDbEntities ORM = new franchiseDbEntities()) { user = ORM.AspNetUsers.Find(User.Identity.GetUserId()); }
    @if (user != null)
    {
    <li>@Html.ActionLink("$" + ((double)user.Bitcoin).ToString("0.00"), "Index", "Shop", routeValues: null, htmlAttributes: new { title = "Money" })</li>
    <li>
        @Html.ActionLink(user.SuperName + "'s Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>
    }
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
